* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#titleTimer {
	font-size: 20pt;
	padding: 2%;
}

#innerContent, #orderItems, #titleTimer {
	display: block;
	margin: auto;
}

/*#content > img {
	max-height: 300px;
	float: right;
	margin-top: 10%;
}
*/

#content > h4 {
	margin-top: 10%;
}

#frontPage {
	background-image: url(../images/peopleEating.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#overlay {
	background-color: rgba(255, 255, 255, 0.41);
	z-index: 100;
	height: 100%;
	width: 100%;
}

#logo {
	height: 60px;
}

.redstyle {
	background-color: red;
}

.bluestyle {
	background-color: blue;
}

.whitestyle {
	background-color: white;
}

#orderItems {
	padding: 1%;
}

body {
	color: #675d53;
	font-family: Arial,Helvetica,sans-serif;
}

.items {
	width: 100%;	
	list-style: none;
	padding-left: 0px;
}

.item {
    list-style: none;
    margin: 20px 0 0;
    padding: 0 0 20px;
    border-bottom: 1px solid #ede9e5;
}

.item:after {
	display: block;
	content: '';
	clear: both;
}

.itemImage {
	float: left;
	width: 25%;
}

.orders .item {
	padding: 0px 5px;
}
.orders .itemImage {
	max-width: 60px;
}

.itemHeader {
    padding-bottom: 10px;
}

.itemHeader:after {
    display: block;
    content: '';
    clear: both;
}

.itemDetails {
	float: left;
	padding: 0 10px 0 20px;
	font-size: .875em;
	width: 75%;
}

.itemDescription {
	padding-bottom: .75em;
}


.itemTitle {
	float: left;
	font-size: 2em;
	color: #ab262f;	
}

.itemQuantity {
	
}

.itemPrice {
	float: right;
    color: #ab262f;
}

.checkoutButtons {
	text-align: right;
	padding: 20px 20px 40px 20px;
}

.checkoutButtons button {
	margin-left: 20px;
}

.addToOrderButton {
	text-align: right;
}

.mainBtn {
    font-weight: 700;   
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    padding: 9px 24px;
    font-size: 1em;
    line-height: 1.3;
    border-radius: 0;
    color: #fff;
    background-color: #ab262f;
    border-color: #ab262f;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.title {
	font-size: 3em;
}

@media screen and (max-width: 550px) {
	
	.addToOrderButton button span{
		display: none;
	}
	.addToOrderButton button:after{
		content: 'Add';
	}
	
}
