Pick from our amazing selection of items:
<ul class="items">
	<li class="item" ng-repeat="menuitem in menu_items">
	  <img class="itemImage" src="/images/food/{{menuitem.thumbnail}}"/>
	  <div class="itemDetails">
		  <h2 class="itemTitle">{{menuitem.title}}</h2>
		  <!-- <div class="itemType">{{menuitem.type}}</div> -->
		  <div class="itemDescription">{{menuitem.description}}</div>
		  <div class="itemPrice">${{menuitem.price.toFixed(2)}}</div>
	  </div>
	</li>
</ul>

<div class="checkoutButtons">
	<button class="mainBtn" ng-click="make_order()">Checkout</button>
</div>