<nav>
	<div class="nav-wrapper teal darken-2">
		<a href="#" class="brand-logo center"><img id="logo" src="images/simpl-logo.png"></a>
		<!-- <ul id="nav-mobile" class="left hide-on-med-and-down">
			<li><a href="sass.html">Sass</a></li>
			<li><a href="badges.html">Components</a></li>
			<li><a href="collapsible.html">JavaScript</a></li>
		</ul> -->
	</div>
</nav>
<div id ="orderList" class="container">
	<div ng-repeat="order in orders" id="fullOrder" class="row">
		<div id="innerContent" class="section col s12">
			<div id="titleTimer">
				<div class="row container">
					<div class="col s6">Table {{number}}</div>
					<div id="timer" class="col s6">{{timer}} words</div>
				</div>
			</div>
			<div id="orderItems">
				<ul>
					<li ng-repeat="items in order">
						<div class="col s3 center-align">{{order.title}}</div>
						<div class="col s9">{{specs}} potato</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div id="orderList" class="container">
	<div id="orderRow" class="row">
		<div ng-repeat="order in orders" class="col s12 section">
			<div id="innerContent" class="row">
				<div class="col s6">{{order.title}}</div>
				<div class="col s6">{{order.time_due}} some time</div>
			</div>
		</div>
		<div class="divider"></div>
	</div>
</div>
<!-- <div ng-repeat="order in orders">
  <h1> an order</h1>
  {{order.time_due}}
  <div ng-repeat="ticket in order.tickets">
    {{ticket.item.title}}
  </div>
</div> -->

<h1>Pending Orders</h1>

<ul class="items orders">
  <li class="item" ng-repeat="order in orders">
    <div class="order-head">
      <span class="start">
        start in {{order.minutes_start}}m
      </span>
      <span class="due">
        due in {{order.minutes_due}}m
      </span>
      <span class="table">
        Table: #{{order.table.id}}
      </span>
    </div>
    <div class="items">
      <div class="item" ng-repeat="item in order.tickets" ng-init="menuitem = item.item">
        <img class="itemImage" src="/images/food/{{menuitem.thumbnail}}"/>
        <div class="itemDetails">
	  <h2 class="itemTitle">{{menuitem.title}}</h2>
          <p>{{item.comments}}</p>

	  <!-- <div class="itemType">{{menuitem.type}}</div> -->
	  <!-- <div class="itemDescription">{{menuitem.description}}</div> -->
	  <!-- <div class="itemPrice">${{menuitem.price.toFixed(2)}}</div> -->
        </div>
      </div>
    </div>
  </li>
</ul>
