<nav>
	<div class="nav-wrapper teal darken-2">
		<a href="#" class="brand-logo center"><img id="logo" src="images/simpl-logo.png"></a>
		<!-- <ul id="nav-mobile" class="left hide-on-med-and-down">
			<li><a href="sass.html">Sass</a></li>
			<li><a href="badges.html">Components</a></li>
			<li><a href="collapsible.html">JavaScript</a></li>
		</ul> -->
	</div>
</nav>
<div id ="orderList" class="container">
  <h1>Review Order</h1>
  <table>
    <thead>
      <tr>
        <td>Item</td>
        <!--td>Qty.</td-->
        <td>Price</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in order.menuItems" id="fullOrder" class="row">
        <td>
          <strong>{{item.item.title}}</strong><br />
          {{item.comments}}
        </td>
        <td>
          ${{item.item.price.toFixed(2)}}
        </td>
      </tr>
      <tr>
        <td style="text-align: right">Subotal</td>
        <!--td>Qty.</td-->
        <td>${{subtotal.toFixed(2)}}</td>
      </tr>
      <tr>
        <td style="text-align: right">Tax</td>
        <!--td>Qty.</td-->
        <td>${{tax.toFixed(2)}}</td>
      </tr>
      <tr>
        <td style="text-align: right">Total</td>
        <!--td>Qty.</td-->
        <td>${{total.toFixed(2)}}</td>
      </tr>
    </tbody>
  </table>
  <div id="prep_time">
    Your order will take {{prep_time}} min to prepare from the time you finish placing your order.
  </div>
  <div id="actions">
    <button ng-click="checkout('dine_in')">Dine in</button>
    <button ng-click="checkout('dine_out')">Dine out</button>
  </div>
</div>
