<div class="page cactus">

	<header>
		<span class="logo"></span>
	</header>
	
	<div class="content">
	
<div id ="orderList" class="container">
  <h1>Review Order</h1>
  <table>
    <thead>
      <tr>
        <td>Item</td>
        <!--td>Qty.</td-->
        <td>Price</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in order.menuItems" id="fullOrder" class="row">
        <td>
          <strong>{{item.item.title}}</strong><br />
          {{item.comments}}
        </td>
        <td>
          ${{item.item.price.toFixed(2)}}
        </td>
      </tr>
      <tr>
        <td style="text-align: right">Subotal</td>
        <!--td>Qty.</td-->
        <td>${{subtotal.toFixed(2)}}</td>
      </tr>
      <tr>
        <td style="text-align: right">Tax</td>
        <!--td>Qty.</td-->
        <td>${{tax.toFixed(2)}}</td>
      </tr>
      <tr>
        <td style="text-align: right">Total</td>
        <!--td>Qty.</td-->
        <td>${{total.toFixed(2)}}</td>
      </tr>
    </tbody>
  </table>
  <div id="prep_time">
    Your order will take {{prep_time}} min to prepare from the time you finish placing your order.
  </div>
  <div class="checkoutButtons">
    <button class="mainBtn" ng-click="checkout('dine_in')">Checkout</button>
    <!-- -button class="mainBtn" ng-click="checkout('dine_out')">Dine out</button-->
  </div>
</div>

</div>
