<div id="restruantLogo" class="jumbotron">
  <div id="cedarsLogo">
    <img src="../images/Cedars-logo.png">
  </div>
</div>
<div id="reviewOrder" class="container">
  <h3 class="deep-orange-text">Great</h3>
		
		<p> Your table for {{num_people}} will be ready at {{time}} on January 17th, 2016. </p>
		
		
		
		
		<div class="checkoutButtons">
		    <div>Total items: {{ order_in ? order_in.menuItems.length : 1 }}</div>
			<!-- -button class="mainBtn" ng-click="make_order()">Checkout</button-->
                </div></div>
